<!--The content below is only a placeholder and can be replaced.-->

<div class="row">
  <div class="col s7 offset-s2">
    <div class="card">
      <div class="sm-jumbotron center-align">
        <h3>
          Employee Benefits Application
        </h3>
      </div>


      <div class="sm-jumbotron center-align">
        <div class="row"></div>
        <div class="row"></div>


        <div class="row">
          <div class="input-field col s11 center-align">
            <button type="button" class=" btn-transport" (click)="listClick()">
              <h4>
                <i class="material-icons left">featured_play_list</i>List Employees</h4>
            </button>

          </div>
        </div>


        <div class="row">
          <div class="input-field col s11 center-align">
            <button class=" btn-transport" (click)="addClick()">
              <h4>
                <i class="material-icons left">add_box</i>Add Employee</h4>
            </button>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>